<!-- Footer -->
<footer class="font-small card text-white bg-dark">

  <!-- Footer Links -->
  <div class="card-body container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-1">
        <div class="row">
          <div class="col-md-6"><h5 class="text-uppercase text-center">Sem matriícula e sem taxas anuais</h5></div>
          <div class="col-md-6"><p class="text-align-center font-weight-bold my-auto">Agende uma aula experimental</p></div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-uppercase text-center"><small><i class="fa fa-map-marker-alt"></i> Rua Boaventura do Amaral, 1051 - Centro - Campinas/SP</small></p>
          </div>
        </div>
      </div>     

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-1">

          <h6>19 3579-1541</h6>
          <!-- Social Media Links -->          
          <div class="d-inline w-100 h-100">
            
              <a href="#!"><span class=" facebook-icon"><i class="fa fa-facebook-square ml-1"></i></span></a>
                      
              <a href="#!"><span class="instagram-icon"><i class="fa fa-instagram ml-1"></i></span></a>
            
          </div>
          <h6><span class="at-icon"><i class="fa fa-at"></i></span><a href="mailto:espacomegafit@gmail.com">espacomegafit@gmail.com</a></h6>
        </div>

    </div>
    <!-- Grid row -->

  </div> 
  <div class="card-footer text-center py-1"><small>2018 Copyright: Natanael Pereira da Costa</small></div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
